<% current_item_id ||= nil %>
<table id="items" data-update-url="<%= sort_items_url %>" class="table table-striped">
<% items.each do |item| %>
	<%= content_tag_for :tr, item, :class => get_item_row_class_name(item.id, current_item_id) do %>
		<td><%= check_box_tag "complete", "yes", item.complete, disabled: true %></td>
    <td><%= link_to item.name, edit_item_path(item) %></td>
    <td><%= item.date_due %></td>
    <td><%= "Star" if item.star %></td>
  <% end %>
<% end %>
</table>

<%= paginate items %>