<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Done:
    <%= f.check_box :complete %>
    <%= f.text_field :name %>
    Star:
    <%= f.check_box :star %>
  </div>

  <div class="field">
    Deadline:
    <%= f.text_field :date_due, class: "calendar" %>
  </div>

  <div class="field">
    Date remind:
    <%= f.text_field :date_remind, class: "calendar" %>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.text_area :description, class: "tinymce", rows: 15 %>
    </div>
    <%= tinymce %>
  </div>

  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Destroy', @item, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Close', @list %>
  </div>
<% end %>