<%= form_for(item) do |f| %>

  <div class="field">
    Done:
    <%= f.check_box :complete %>
    <%= f.text_field :name, maxlength: 255, disabled: item.complete %>
    Star:
    <%= f.check_box :star, disabled: item.complete %>
  </div>

  <div class="field">
    Deadline:
    <%= f.text_field :date_due, class: "calendar", disabled: item.complete, maxlength: 10 %>
  </div>

  <div class="field">
    Date remind:
    <%= f.text_field :date_remind, class: "calendar", disabled: item.complete, maxlength: 10 %>
  </div>

  <% if item.complete %>
    Description:
    <%= item.description.html_safe %>
  <% else %>
    <div class="control-group">
      <div class="controls">
        <%= f.text_area :description, class: "tinymce", rows: 15 %>
      </div>
      <%= tinymce %>
    </div>
  <% end %>

  <div class="field">
    Location:
    <%= f.text_field :address, disabled: item.complete %>
  </div>

  <% if item.address? %>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{item.latitude}%2C#{item.longitude}" %>
  <% end %>

  <div class="form-actions">
    <%= f.submit 'Update', :class => 'btn btn-primary' %>
    <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
    <%= link_to 'Close', list, :class => 'btn' %>
  </div>
<% end %>