<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @item.name %>
</p>

<p>
  <b>Description:</b>
  <%= @item.description %>
</p>

<p>
  <b>Date due:</b>
  <%= @item.date_due %>
</p>

<p>
  <b>Date remind:</b>
  <%= @item.date_remind %>
</p>

<p>
  <b>Complete:</b>
  <%= @item.complete %>
</p>

<p>
  <b>Star:</b>
  <%= @item.star %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
